<div class="status-box" id="status-box">
    <div class="status-edit">
        <h3>{{ 'form.field.status'|trans }}</h3>
        <span></span>
        {{ form_start(formStatus) }}
        {{ form_row(formStatus.status) }}
        <button type="submit" class="save">{{ 'form.send'|trans }}</button>
        <button type="submit" class="cancel">{{ 'form.cancel'|trans }}</button>
        {{ form_end(formStatus) }}
        <a href="#" title="" class="close-box"><i class="la la-close"></i></a>
    </div>
</div>
