{% trans_default_domain 'eucookiepolicy' %}

{% spaceless %}
    <div id="eu-cookie-law" class="eu-cookie-law">
        {{ 'cookie_law.message'|trans }}
        <button id="eu-cookie-law-accept" data-name="{{ cookie_name }}" data-value="{{ cookie_value }}" class="eu-cookie-law-accept btn btn-primary">{{ 'cookie_law.accept'|trans }}</button>
        {% if cookie_read_more_link is not null %}
            <a href="{{ path(cookie_read_more_link) }}" id="eu-cookie-law-read-more" class="eu-cookie-law-accept">
                {{ 'cookie_law.read_more'|trans }}
            </a>
        {% endif %}
    </div>

    {{ encore_entry_link_tags('cookie') }}
    {{ encore_entry_script_tags('cookie') }}
{% endspaceless %}