{% trans_default_domain 'RSLintro' %}

<div class="cm-logo">
    {#<img src="{{ asset('build/images/cm-logo.png')}}" alt="">#}
    <h1>RSL (Réseau Social Libre)</h1>
    <div class="mt-2">
        <p>{{ 'intro.non_censured'|trans|raw }}</p>
    </div>

    <div class="mt-2">
        <p>{{ 'intro.everyone'|trans|raw }}</p>
    </div>

    <div class="mt-2">
        <p>{{ 'intro.open_source_project'|trans|raw }}</p>
    </div>

    <p class="mt-2">{{ 'intro.provide_free_space'|trans|raw }}</p>


</div>
<img src="{{ asset('build/images/cm-main-img.png')}}" alt="">
