<div class="product-feed-tab current" id="feed-dd">
    <div class="posts-section">
        {% include 'home/block/post-bar.html.twig' %}

        <nav aria-label="Page navigation example" class="full-pagi">
            {% if posts.haveToPaginate %}
                <ul class="pagination">
                    {% if posts.hasPreviousPage %}
                        {% if posts.currentPage -1 == 1%}
                            <li class="page-item">
                                <a class="page-link pvr" href="{{ path('home') }}">{{ 'nav.prev'|trans }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link pvr" href="{{ path('profile_paginated', {page: posts.currentPage -1, username: user.username}) }}">{{ 'nav.prev'|trans }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                    {% for i in 1..posts.nbPages %}
                        <li class="page-item">
                        {% if i == posts.currentPage %}
                            {% if i == 1 %}
                                <a class="page-link active" href="{{ path('profile', {username: user.username}) }}">{{ i }}</a></li>
                            {% else %}
                                <a class="page-link active" href="{{ path('profile_paginated', {page: i, username: user.username}) }}">{{ i }}</a></li>
                            {% endif %}

                        {% else %}
                            {% if i == 1 %}
                                <a class="page-link" href="{{ path('profile', {username: user.username}) }}">{{ i }}</a></li>
                            {% else %}
                                <a class="page-link" href="{{ path('profile_paginated', {page: i, username: user.username}) }}">{{ i }}</a></li>
                            {% endif %}
                        {% endif %}
                        </li>
                    {% endfor %}
                    {% if posts.hasNextPage %}
                        <li class="page-item"><a class="page-link pvr" href="{{ path('profile_paginated', {page: posts.currentPage +1, username: user.username}) }}">{{ 'nav.next'|trans }}</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </nav>
    </div>
</div>
