<li>
    <a href="#" title="" class="not-box-open">
        <span><img src="{{ asset('build/images/icon7.png') }}" alt=""></span>
        {{ 'menu.notifications.main'|trans }}
    </a>
    <div class="notification-box">
        <div class="nt-title">
            <h4>{{ 'global.settings'|trans }}</h4>
            <a href="#" title="">{{ 'global.clear_all'|trans }}</a>
        </div>
        <div class="nott-list">
            <div class="notfication-details">
                <div class="noty-user-img">
                    <img src="{{ asset('build/images/resources/ny-img1.png') }}" alt="">
                </div>
                <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                </div>
            </div>
            <div class="notfication-details">
                <div class="noty-user-img">
                    <img src="{{ asset('build/images/resources/ny-img2.png') }}" alt="">
                </div>
                <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                </div>
            </div>
            <div class="notfication-details">
                <div class="noty-user-img">
                    <img src="{{ asset('build/images/resources/ny-img3.png') }}" alt="">
                </div>
                <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                </div>
            </div>
            <div class="notfication-details">
                <div class="noty-user-img">
                    <img src="{{ asset('build/images/resources/ny-img2.png') }}" alt="">
                </div>
                <div class="notification-info">
                    <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                    <span>2 min ago</span>
                </div>
            </div>
            <div class="view-all-nots">
                <a href="#" title="">{{ 'menu.notifications.view_all'|trans }}</a>
            </div>
        </div>
    </div>
</li>
