{% extends 'base.html.twig' %}

{% block title %}RSL | {{ 'form.post.text.add_new'|trans }}!{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'header.html.twig' %}

        <main>
            <div class="main-section">
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                                {{ include('sidebar/left-sidebar.html.twig')}}
                            </div>
                            <div class="col-lg-6 col-md-8 no-pd">
                                <div class="post-project">
                                    <h3>{{ 'form.post.text.add'|trans }}</h3>
                                    <div class="post-project-fields">
                                        {{ form_start(form) }}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {{ form_row(form.title) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(form.content) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    <ul>
                                                        <li><button class="active" type="submit" value="post">{{ 'form.post.text.btn_submit'|trans }}</button></li>
                                                        <li><a href="{{ path('home') }}" title="">{{ 'form.cancel'|trans }}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        {{ form_end(form) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 pd-right-none no-pd">
                                {{ include('sidebar/right-sidebar.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
{% endblock %}