<div class="post-topbar">
    <div class="user-picy">
        {% if app.user.getUserProfilePictures().last() %}
            <img src="{{ asset('/uploads/user/profiles/'~ app.user.getUserProfilePictures().last().document)|imagine_filter('user_profile_medium') }}" alt="">
        {% else %}
            <img src="http://via.placeholder.com/40x40" alt="">
        {% endif %}

    </div>
    <div class="post-st">
        <ul>
            <li><a class="post_project" href="{{ path('post-text-add') }}" title="">{{ 'post.text.btn'|trans }}</a></li>
            <li><a class="post_project" href="{{ path('post-image-add') }}" title="">{{ 'post.image.btn'|trans }}</a></li>
            <li><a class="post_project" href="{{ path('post-live-publish') }}" title="">Go Live</a></li>

            {#<li><a class="post_project" href="#" title="">{{ 'post.video.btn'|trans }}</a></li>#}
            {#<li><a class="post_project" href="#" title="">{{ 'post.link.btn'|trans }}</a></li>#}
        </ul>
    </div>
</div>
