<div class="user-data full-width">
    <div class="user-profile">
        <div class="username-dt">
            <div class="usr-pic">
                {% if app.user.getUserProfilePictures().last() %}
                    <img src="{{ asset('/uploads/user/profiles/'~ app.user.getUserProfilePictures().last().document)|imagine_filter('user_profile_100') }}" alt="">
                {% else %}
                    <img src="http://via.placeholder.com/100x100" alt="">
                {% endif %}

            </div>
        </div>
        <div class="user-specs">
            <h3>{{ app.user.username }}</h3>
            {% if app.user.getUserStatuses().last() %}
                <span>{{ app.user.getUserStatuses.last().status }}</span>
            {% else %}
                <span></span>
            {% endif %}

        </div>
    </div>
    <ul class="flw-hr">
        <li>
            <a href="{{ path('profile', { username: app.user.username }) }}" title="" class="flww"><i class="la la-thumbs-o-up"></i>
                {% set count =  userRelationShip.followers|length %}
                {% transchoice count with {'%count%': count} %}profile.count_followers{% endtranschoice %}
            </a>
        </li>
        <li>
            <a href="{{ path('profile', { username: app.user.username }) }}" title="" class="hre"><i class="la la-users"></i>
                {% set count =  userRelationShip.friends|length %}
                {% transchoice count with {'%count%': count} %}profile.count_friends{% endtranschoice %}
            </a>
        </li>
    </ul>
    <ul class="user-fw-status">
        {#<li>#}
            {#<h4>{{ 'profile.following'|trans }}</h4>#}
            {#{% set count =  userRelationShip.following|length %}#}
            {#<span>{% transchoice count with {'%count%': count} %}profile.count_following{% endtranschoice %}</span>#}
        {#</li>#}
        {#<li>#}
            {#<h4>{{ 'profile.follow_by'|trans }}</h4>#}
            {#{% set count =  userRelationShip.followers|length %}#}
            {#<span>{% transchoice count with {'%count%': count} %}profile.count_followers{% endtranschoice %}</span>#}
        {#</li>#}
        <li>
            <a href="{{ path('profile', { username: app.user.username }) }}" title=""><i class="la la-eye"></i> {{ 'profile.view_profile'|trans }}</a>
        </li>
    </ul>
</div>
