{% extends 'base.html.twig' %}

{% block title %}RSL | Free social network! GO LIVE{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('webrtc') }}
{% endblock %}

{% block body %}
    <div class="wrapper">
        {% include 'header.html.twig' %}

        <main>
            <div class="main-section">
                <div class="container">
                    <div class="main-section-data">
                        <div class="row">
                            <div class="col-lg-9 col-md-8 no-pd">
                                <div class="main-ws-sec">
                                    <h1>LIVE</h1>
                                    <video id="localVideo" autoplay muted></video>
                                    <p style="text-align: center">
                                        <input type="text" class="form-control mt-3" value=""
                                               id="post-title" placeholder="Titre de votre live">

                                        <input type="text" class="form-control mt-3" value=""
                                               id="post-description" placeholder="Ajouter une description">

                                        <input type="hidden" class="form-control" value="{{ stream }}"
                                               id="post-stream">

                                        <input type="hidden" class="form-control" value="WebRTCApp"
                                               id="post-stream-app">
                                    </p>
                                    <p>
                                        <button class="btn btn-info mt-3" disabled
                                                id="start_publish_button" data-user="{{ app.user.id }}">Start Live</button>
                                        <button class="btn btn-info mt-3" disabled
                                                id="stop_publish_button">Stop Live</button>

                                        <span class="label label-success mt-3" id="broadcastingInfo" style="font-size:14px;display:none">
                                            Publishing
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-3 pd-right-none no-pd">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('webrtc') }}
{% endblock %}
